{% extends 'base.html' %}

{% block title %}Completed requests{% endblock %}

{% block content %}
<table aria-label="Completed requests">
  <thead>
    <tr>
      <th scope="col">Page name</th>
      <th scope="col">Page key</th>
      <th scope="col">Crawled at</th>
    </tr>
  </thead>
  <tbody>
    {% for request in data %}
    <tr>
      <td>{{ request["payload"]["page"]["page_name"] }}</td>
      <td>{{ request["payload"]["page"]["key"] | format_key }}</td>
      <td>{{ request["payload"]["last_updated_at"] | format_datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
