{% extends 'base.html' %}

{% block title %}Syncrawl - Request queue{% endblock %}

{% block content %}
<table aria-label="Download requests">
  <thead>
    <tr>
      <th scope="col">Pos.</th>
      <th scope="col">Page name</th>
      <th scope="col">Page key</th>
      <th scope="col">Update at</th>
    </tr>
  </thead>
  <tbody>
    {% for request in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ request["payload"]["page"]["page_name"] }}</td>
      <td>{{ request["payload"]["page"]["key"] | format_key }}</td>
      <td>{{ request["payload"]["next_update_at"] | format_datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
